<header class="header">
  <h2>Add Employee</h2>
</header>

<div class="container">
  <div id="employee-form">
    <form>
      <div class="form-group">
        <div class="p-input-icon-left width100">
          <i class="pi pi-user"></i>
          <input
            type="text"
            name="name"
            pInputText
            class="form-control width100"
            placeholder="Employee Name"
            [(ngModel)]="name"
          />
        </div>
      </div>
      <div class="form-group">
        <p-dropdown
          styleClass="pdropdown"
          class="form-control dropdown"
          [options]="roles"
          name="role"
          [(ngModel)]="selectedRole"
          placeholder="Select Role"
        ></p-dropdown>
      </div>
      <div class="form-group">
        <mat-grid-list cols="13" rowHeight="40px">
          <mat-grid-tile colspan="6" rowspan="1">
            <p-calendar
              #fromCalendar
              [(ngModel)]="fromDate"
              (onShow)="setPreviousFromDate()"
              name="fromDate "
              appendTo="body"
              class="form-control"
            >
              <ng-template pTemplate="header">
                <mat-grid-list cols="12" rowHeight="60px">
                  <mat-grid-tile
                    *ngFor="let tile of calendarOptions"
                    colspan="6"
                    rowspan="1"
                  >
                    <button
                      type="button"
                      pButton
                      class="calendar-action"
                      [label]="tile.label"
                      (click)="setActiveDate(tile)"
                    ></button>
                  </mat-grid-tile>
                </mat-grid-list>
              </ng-template>
              <ng-template pTemplate="footer">
                <mat-grid-list cols="12" rowHeight="60px">
                  <mat-grid-tile colspan="4" rowspan="1">
                    <div>
                      {{ fromDate | date : "dd MMM yyyy" }}
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="8" rowspan="1">
                    <div style="justify-content: space-between">
                      <p-button
                        (click)="closeFromCalendar(true)"
                        [style]="{ width: '5rem' }"
                        label="Cancel"
                      ></p-button>
                      <p-button
                        (click)="closeFromCalendar()"
                        [style]="{ width: '5rem', 'margin-left': '1rem' }"
                        label="Save"
                      ></p-button>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </ng-template>
            </p-calendar>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">
            <i class="pi pi-arrow-right arrow"></i>
          </mat-grid-tile>
          <mat-grid-tile colspan="6" rowspan="1">
            <p-calendar
              [(ngModel)]="toDate"
              #toCalendar
              appendTo="body"
              (onShow)="setPreviousToDate()"
              name="toDate "
              class="form-control"
            >
              <ng-template pTemplate="header">
                <mat-grid-list cols="12" rowHeight="60px">
                  <mat-grid-tile
                    *ngFor="let tile of calendarOptionstoDate"
                    colspan="6"
                    rowspan="1"
                  >
                    <button
                      type="button"
                      pButton
                      [label]="tile.label"
                      (click)="setActiveToDate(tile)"
                    ></button>
                  </mat-grid-tile>
                </mat-grid-list>
              </ng-template>
              <ng-template pTemplate="footer">
                <mat-grid-list cols="12" rowHeight="60px">
                  <mat-grid-tile colspan="4" rowspan="1">
                    <div>
                      {{ toDate ? (toDate | date : "dd MMM yyyy") : "No Date" }}
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="8" rowspan="1">
                    <div style="justify-content: space-between">
                      <p-button
                        (click)="closeToCalendar(true)"
                        [style]="{ width: '5rem' }"
                        label="Cancel"
                      ></p-button>
                      <p-button
                        (click)="closeToCalendar()"
                        [style]="{ width: '5rem', 'margin-left': '1rem' }"
                        label="Save"
                      ></p-button>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </ng-template>
            </p-calendar>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </form>
  </div>

  <div class="bottom-action">
    <p-button
      [style]="{ width: '5rem',  }"
      label="Cancel"
      (click)="navigateToList()"
    ></p-button>
    <p-button
      (click)="onSave()"
      [style]="{ width: '5rem', 'margin-left': '2rem' }"
      label="Save"
    ></p-button>
  </div>
</div>
