.pdropDown {
  .p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
    margin-left: 25px;
  }
}
.p-button {
  color: #0b7ad1;
  background: #e6eff5 !important;
  border: 1px solid #e6eff5;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 8.5rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;
}
.p-button:enabled:hover {
  background-color: #0d89ec !important;
  color: #edf8ff;
}
.form-group {
  padding: 15px;
}

.bottom-action {
  position: fixed;
  bottom: 0;
  text-align: right;
  width: 100%;
  padding: 10px;
  background: #ebebeb;
}

.pdropdown {
  width: 100%;
}

.arrow {
  font-size: 12px;
  font-weight: bold;
  color: #2196f3;
}